.hero-matchup-view .title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-matchup-view a {
    text-decoration: none;
    color: #3182bd;
}

.hero-matchup-view pre {
    margin: 0;
    font-family: inherit;
}