.category .title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.category .edit-btn {
    border: none;
    background: none;
    color: #3182bd;
    cursor: pointer;
    text-decoration: none;
}

.category .edit-btn:hover {
    text-decoration: underline;
}

.category .content .empty-category-message {
    color: var(--darker-grey);
}

.category .content .pairings {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--grid-dimensions));
    gap: 5px;
}