.hero-matchup-edit-view form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.hero-matchup-edit-view textarea {
  max-width: 100%;
  min-width: 250px;
  width: 100%;
  min-height: 250px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
}

.hero-matchup-edit-view .action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hero-matchup-edit-view .action button {
  padding: 15px;
  cursor: pointer;
}
