.app {
    min-height: 100vh;
    padding-top: calc(var(--header-height) + 15px);
    display: flex;
    flex-direction: column;
}

.dark-mode {
    background: black;
    color: white;
}

.light-mode {
    background: white;
    color: black;
}

.app > *:nth-child(2) {
    flex-grow: 1;
}